body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#333;background:#fff;word-break:break-all;word-wrap:break-word;text-align:center}
body,input,textarea{font-size:12px;font-family:\5b8b\4f53,Verdana,Arial}
a{color:#333;text-decoration:none;outline:none}
a:hover{color:#b5b5b5} .mar30 { margin-top: 30px;}
.wrap{width:1200px;margin:0 auto;text-align:left;position:relative}
.fl { float: left;} .fr { float: right;} .rel{ position: relative;} .abs{ position:absolute;} .bor{ border-bottom: 1px solid #999;}
.clearfix:after,.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix,.wrap{*+height:1%} .tr { text-align: right;} .tl { text-align: left;} .tc { text-align: center;}
